img {
    width: 350px;
}

.grid-item {
    margin-bottom: 40px;
}

@media only screen and (max-width: 480px) {
    nav {
     width: 100%;
     padding: 0px;
     background: white;
     font-size: 24px;
     box-shadow: 0px 1px 3px grey;
    }

    nav ul {
     display: flex;
     justify-content: space-between;
     margin: 10px 15px;
    }
  
    .information {
      padding: 90px 20px 50px;
      margin: 0px 10px;
    }

    h1 {
      padding: 20px 0px 10px;
    }
   
    p {
     padding: 10px 0px 20px 0px;
    }
   
    img {
      width: 265px;
    }
   
    i {
      padding: 2px;
    }
   
    .container {
       width: 100%;
    }
   
    .grid-item {
     margin-bottom: 40px;
   }
};
