img {
    width: 450px;
  }

.grid-item {
    margin-bottom: 60px;
}

@media only screen and (max-width: 425px) {
    img {
        width: 250px;
      }
    
    .project-info {
        width: 250px;
    }

  };

  @media only screen and (min-width: 768px) {
    .container {
        width: 75%;
    }
};