body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0px;
  display: flex;
  letter-spacing: 1.5px;
  max-width: 1250px;
  margin: auto;
  margin-top: 10px;
}

nav {
  font-size: 32px;
  padding: 30px;
  position: fixed;
  z-index: 99;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}
  
a:hover {
  text-decoration: underline;
  color: black;
}
  
a:active {
  text-decoration: underline;
  color: black;
}

li {
  padding: 10px 0px;
}

h1 {
  font-size: 42px;
  padding-bottom: 10px;
}

h2 {
  font-size: 30px;
  padding: 15px 0px;
}

h3 {
  font-size: 20px;
  padding: 10px 0px;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 15px;
  padding: 10px 44px 20px 0px;
  letter-spacing: 1.2px;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 350px;
}

i {
  color: #2b2b2b;
}

#resume {
  padding-left: 40px;
}

.information {
  padding: 25px 0px 15px 160px;
  display: block;
}

.grid {
  padding: 10px 0px 0px 0px;
}

.grid-item {
  margin-bottom: 5px;
}

.container {
  position: relative;
  width: 40%;
}

.change-pad {
  padding: 5px 0px 0px 0px;
}

.font-size {
  display: block;
  font-size: 20px;
  padding: 20px 0px;
  font-family: 'Roboto', sans-serif;
}

.project-info {
  padding-top: 7px;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
}

.project-info a {
  font-size: 17px;
}

.full-width {
  width: 100%;
}

@media only screen and (max-width: 425px) {
  nav {
    padding: 10px 10px 10px 15px;
    font-size: 20px;
  }
  .information {
    padding: 10px 0px 15px 100px;
  }
  h1 {
    font-size: 35px;
  }
  .font-size {
    font-size: 15px;
  }
  h2{
    font-size: 25px;
  }
  p {
    font-size: 12px;
    padding: 10px 60px 20px 0px;
  }
  img {
    width: 250px;
  }
};

@media only screen and (min-width: 600px) {
  
};

@media only screen and (min-width: 768px) {
  
};

@media only screen and (min-width: 992px) {
  
};

@media only screen and (min-width: 1200px) {
  nav {
    padding: 30px 30px 30px 0px;
  };
}
