body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0px;
  display: flex;
  letter-spacing: 1.5px;
  max-width: 950px;
  margin: auto;
  line-height: 1.5em;
}

nav {
  font-size: 32px;
  padding: 30px;
  position: fixed;
  z-index: 99;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}
  
a:hover {
  text-decoration: underline;
  color: black;
}
  
a:active {
  text-decoration: underline;
  color: black;
}

li {
  padding: 12px 0px;
}

h1 {
  font-size: 42px;
  padding-bottom: 10px;
}

h2 {
  font-size: 30px;
  padding: 15px 0px;
}

h3 {
  font-size: 20px;
  padding: 10px 0px;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 15px;
  padding: 10px 44px 20px 0px;
  letter-spacing: 1.2px;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 325px;
}

i {
  color: #2b2b2b;
}

#resume {
  padding-left: 40px;
}

.information {
  padding: 40px 30px 15px 160px;
  display: block;
}

.grid {
  padding: 10px 0px 0px 0px;
}

.grid-item {
  margin-bottom: 40px;
}

/* .container {
  position: relative;
  width: 40%;
} */

.change-pad {
  padding: 5px 0px 0px 0px;
}

.font-size {
  display: block;
  font-size: 20px;
  padding: 20px 0px;
  font-family: 'Roboto', sans-serif;
}

.project-info {
  padding-top: 7px;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
}

.project-info a {
  font-size: 17px;
}

/* .full-width {
  width: 100%;
} */

/* @media only screen and (max-width: 425px) {
  nav {
    padding: 10px 10px 10px 15px;
    font-size: 20px;
  }
  .information {
    padding: 10px 0px 15px 100px;
  }
  h1 {
    font-size: 35px;
  }
  .font-size {
    font-size: 15px;
  }
  h2{
    font-size: 25px;
  }
  p {
    font-size: 12px;
    padding: 10px 60px 20px 0px;
  }
  img {
    width: 250px;
  }
}; */

@media only screen and (max-width: 500px) {
 nav {
  width: 100%;
  padding: 0px;
  background: white;
  font-size: 24px;
  /* box-shadow: 0px 1px 3px grey; */
 }
 nav ul {
  display: flex;
  justify-content: space-between;
  margin: 15px;
 }

 /* nav ul li {
   padding: 15px;
 } */

 .information {
   padding: 90px 20px 50px;
   margin: 0px 10px;
 }

 p {
  padding: 10px 0px 20px 0px;
 }

 img {
   width: 275px;
 }

 i {
   padding: 2px;
 }

 .container {
    width: 100%;
 }

 .grid-item {
  margin-bottom: 40px;
}
};

@media only screen and (max-width: 768px) {
  .information {
    padding: 40px 0px 15px 160px;
    display: block;
    
  }

  .container {
    max-width: 60%;
 }

};

@media only screen and (max-width: 992px) {
  
};

@media only screen and (max-width: 1200px) {
  nav {
    padding: 30px 30px 30px 0px;
  };
}
