body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0px;
  display: flex;
  /* background-image: url("../images/1.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
}

nav {
  font-size: 32px;
  padding: 20px;
  position: fixed;
  z-index: 99;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}
  
a:hover {
  text-decoration: underline;
  color: black;
}
  
a:active {
  text-decoration: underline;
  color: black;
}

li {
  padding: 10px 0px;
}

h1 {
  font-size: 42px;
  padding-bottom: 10px;
}

h2 {
  font-size: 27px;
  padding: 10px 0px;
}

p {
  font-size: 22px;
  padding: 10px 65px 10px 0px;
}

video{
  width: 350px;
  padding: 5px 0px 15px 0px;
}

img {
  width: 350px;
  padding: 5px 0px 10px 0px;
}

.information {
  padding: 25px 10px 15px 140px;
  display: block;
}

.grid {
  padding: 10px 0px 10px 0px;
}

.grid-item {
  margin-bottom: 5px;
}

.container {
  position: relative;
  width: 40%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: gray;
}

.container:hover .overlay {
  opacity: .9;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.changeColor:link {
  text-decoration: none;
  color: white;
}

.changeColor:visited {
  text-decoration: none;
  color: white;
}
  
.changeColor:hover {
  text-decoration: underline;
  color: white;
}
  
.changeColor:active {
  text-decoration: underline;
  color: white;
}